.env
backend/.env
backend/.venv/
.env.prod
docker-compose.prod.yml
backend/Dockerfile.prod
frontend/Dockerfile.prod
*.pyc
__pycache__/
.python-version
.venv/
node_modules/
.npmrc
.nv/
.nuxt/
.output/
.DS_Store
coverage/
